<header>
    <nav>	
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/tariffs">Тарифы</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="/profile">Профиль</a></li>
        </ul>
    </nav>
</header>