<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'/>
<title><%- title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<%-partial('partials/header')%>
<div class='content'>
<h1><%- about %></h1>
<p>Каждый из нас, независимо от возраста и занятости, положения в обществе и настроения, хотя бы один раз пользовался услугами транспортной компании, а некоторые уже успели занести в свою записную книжку номер «45-00-45» - самого надежного и быстрого такси.<br/> Работа, гости, встречи и проводы, походы по магазинам - все требует сил и времени, которого постоянно катастрофически не хватает, тут вам поможет заказ такси.<br/> Вызов такси – это оптимальное решение, если у Вас срочная встреча или деловой ужин, вечеринка или поездки в гости. Таким образом, услуги нашей компании позволят Вам чувствовать себя уверенно и комфортно</p>
</div>
</body>
</html>
