<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Авторизация диспетчера</title>
<script src="/javascripts/jquery.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<style>
.content{
    width: 100%;
}
#auth>table{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    /*border: 1px solid lightgray;*/

}    
#auth>table input{
    width:100%;
    text-align: center;
}
input{
    margin: 2%;
}
</style>
</head>
<body>
<div class="content">
<div id="auth" >
<table>
<tr>
<td>Авторизация</td>
</tr>
<tr>
<td><input id="loginField" placeholder="логин" name="login" type="textbox" required value=""/></td>
</tr>
<tr>
<td><input id="passwordField" placeholder="пароль" name="password" type="password" required value=""/></td>
</tr>
<tr>
<td><button id="sub">Войти</button></td>
</tr>
</table>
</div>
</div>
<script>
$(document).ready(function(){
$('#sub').click(function(){
auth();
});
function auth(){
$.post('/dispatcher', 
{
login:$('#loginField').val(),
password:$('#passwordField').val()
},
function(data){
    if(data.status=="OK"){
        document.location.href ="/driverList";
    }else{
        alert("Ошибка авторизации!");
    }
});
}
})
</script>
</body>
</html>