<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Авторизация диспетчера</title>
<script src="/javascripts/jquery.js"></script>
</head>
<body style="text-align:center">
<div id="driver-list">
</div>
<div id="auth">
Login:<input id="login" name="login" type="textbox" value=""/><br/>
Password:<input id="password" name="password" type="password" value=""/><br/>
<button id="sub">Войти</button>
</div>
<script>
$(document).ready(function(){
$('#sub').click(function(){
auth();
});
function auth(){
$.post('/dispatcher', 
{
login:$('#login').val(),
password:$('#password').val()
},
function(data){
console.log(data);
for(var i=0;i<data.length;i++){
$('#driver-list').append("<div>"+data[i]+"</div>");
}
});
}
})
</script>
</body>
</html>