<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Список водителей</title>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/driverListScript.js"></script>
<script>
    var curRow = 0;
    function del(id){
        $('tr#'+id).remove();
        }

    function edit(id){
        $('tr#'+id+' input').each(function(index, element){
            $(this).removeAttr('readonly');
            curRow = id;
        });
    }

    function add(){

    }

    function save(){
        $.post('/driverlist',
        {   
        save:true,
        data:{
        lastname:$("tr#"+curRow+" input[name=lastName]:first").val(),
        firstname:$("tr#"+curRow+" input[name=firstName]:first").val(),
        patronymic:$("tr#"+curRow+" input[name=patronymic]:first").val(),
        phone:$("tr#"+curRow+" input[name=phone]:first").val(),
        password:$("tr#"+curRow+" input[name=password]:first").val(),
        carNumber:$("tr#"+curRow+" input[name=carNumber]:first").val(),
        carDescription:$("tr#"+curRow+"input [name=carDescription]:first").val(),
        status:$("tr#"+curRow+" input[name=status]:first").val(),
        rate:$("tr#"+curRow+" input[name=rate]:first").val()
        }
    },
        function(data){
            if(data.status=='OK'){
                $('tr#'+id+' input').each(function(index, element){
                $(this).attr('readonly', 'readonly');
                });
                alert('Изменения сохранены!');
            }else{
                alert('Ой, что-то пошло не так! Попробуйте еще раз');
            }
        }
    )
    }
</script>
</head>
<body >
<button id="exit">Выход</button>
<button id="saveBtn" onclick="save()">Сохранить</button>
<button id="addBtn" onclick="add()">Добавить</button>
<div id="driver-block">
    <table id="driver-table" border="1" rules="all" style="margin-left: auto; margin-right: auto;">
        <tr>
            <td id="lastName"></td>
            <td id="firstName"></td>
            <td id="patronymic"></td>
            <td id="phone"></td>
            <td id="password"></td>
            <td id="carNumber"></td>
            <td id="carDescription"></td>
            <td id="status"></td>
            <td id="coordinates"></td>
            <td id="rate"></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>