<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Список водителей</title>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/driverListScript.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<style>
    .content{
    width: 100%;
}
#phone{
    width:auto;
}
#driver-table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
input{
    text-align: center;
}
</style>
<script>
    var curRow = 0;
    function del(id){
        $('tr#'+id).remove();
        }

    function edit(id){
        if(curRow == id){
            alert("Вы уже редактируете эту строку!");
        }
        else if(curRow>0){
            if(confirm("Сохранить внесенные изменения?")){
            save();
            $('tr#'+id+' input').removeAttr('readonly');
            curRow = id;
            }else{
                $('tr#'+curRow+' input').attr('readonly','readonly');
                alert("Изменения не были сохранены и будут утерены после обновления страницы");
                $('tr#'+id+' input').removeAttr('readonly');
                curRow = id;
            }
        }else{
            $('tr#'+id+' input').removeAttr('readonly');
            curRow = id;
        }
    }

    function add(){
        var LastName = prompt("Введите фамилию водителя", "Фамилия");
        if(LastName==null)return;
        if(LastName=='Фамилия'||LastName==''){
            alert("Некорректное значение поля!");
            return;
        }

        var FirstName = prompt("Введите имя водителя", "Имя");
        if(FirstName==null)return;
        if(FirstName=='Имя'||FirstName==''){
            alert("Некорректное значение поля!");
            return;
        }

        var Patronymic = prompt("Введите отчество водителя или оставьте пустым", "");
        if(Patronymic==null)return;

        var Phone_Number = prompt("Введите номер телефона водителя без доп.символов", "");
        if(Phone_Number==null)return;
        if(Phone_Number.length<11||Phone_Number==''||Number(Phone_Number)==NaN){
            alert("Некорректное значение поля!");
            return;
        }

        var Password = prompt("Введите пароль водителя", "пароль");
        if(Password==null)return;
        if(Password.length<6||Password==''||Password=="пароль"){
            alert("Некорректное значение поля!");
            return;
        }

        var Car_Number = prompt("Введите номер авто водителя", "номер");
        if(Car_Number==null)return;
        if(Car_Number.length<6||Car_Number==''||Car_Number=="номер"){
            alert("Некорректное значение поля!");
            return;
        }

        var Car_Description = prompt("Опишите авто водителя", "описание");
        if(Car_Description==null)return;
        if(Car_Number==''||Car_Number=="описание"){
            alert("Некорректное значение поля!");
            return;
        }

        var Rate = prompt("Введите код тарифного плана водителя", "код");
            if(Rate==null)return;
            if(Rate==''||Rate=="код"||Number(Rate)==NaN){
                alert("Некорректное значение поля!");
                return;
            }if(Number(Rate)>2){
                alert("Тарифный план не найден!");
            }
            prompt("Если водитель имеет детское кресло, введите 'да', иначе 'нет'", "да");
            prompt("Если водитель имеет возможность перевозить животных, введите 'да', иначе 'нет'", "да");
        var Status = "offline";
        
        $.post("/driverList",
        {
            add:true, 
            LastName:LastName,
            FirstName:FirstName,
            Patronymic:Patronymic,
            Phone_Number:Phone_Number,
            Password:Password,
            Car_Number:Car_Number,
            Car_Description:Car_Description,
            Status:Status,
            ID_Rate:Rate
        },
        function(data){
            console.log(data);
            if(data.status=="OK"){
               alert("Водитель успешно добавлен!");
            }else{
                alert("Упс, что-то пошло не так! Попробуйте еще раз");
            }
            document.location.reload;
        }
    );
    }

    function save(){
        if(curRow>0){
        $.post('/driverlist',
        {   
        save:true,
        data:{
        ID_Driver:curRow,
        LastName:$("tr#"+curRow+" input[name=lastName]:first").val(),
        FirstName:$("tr#"+curRow+" input[name=firstName]:first").val(),
        Patronymic:$("tr#"+curRow+" input[name=patronymic]:first").val(),
        Phone_Number:$("tr#"+curRow+" input[name=phone]:first").val(),
        Password:$("tr#"+curRow+" input[name=password]:first").val(),
        Car_Number:$("tr#"+curRow+" input[name=carNumber]:first").val(),
        Car_Description:$("tr#"+curRow+" input[name=carDescription]:first").val(),
        Status:$("tr#"+curRow+" input[name=status]:first").val(),
        ID_Rate:$("tr#"+curRow+" input[name=rate]:first").val()
        }
    },
        function(data){
            if(data==true){
                $('tr#'+curRow+' input').attr('readonly','readonly');
                alert('Изменения сохранены!');
                curRow = 0;
            }else{
                alert('Ой, что-то пошло не так! Попробуйте еще раз');
                console.log(data);
            }
        }
    )
    }else{
        alert("Ни одна строка не была отредактирована");
    }
}
</script>
</head>
<body >
    <div class="content">
<table style="width:100%">
<tr>
<td style="text-align:left"><button id="saveBtn" onclick="save()">Сохранить</button>
<button id="addBtn" onclick="add()">Добавить водителя</button>
<button id="addBtn" onclick="document.location.href='/dispatcherorder'">Оформить заказ</button></td>
<td style="text-align:right"><button id="exit">Выход</button></td>
</tr>
</table>
<div id="driver-block" style="margin-left: auto; margin-right: auto; padding-top:2%;">
    <table id="driver-table" border="1" rules="all">
        <tr style="background-color:lightgray">
            <td id="lastName"></td>
            <td id="firstName"></td>
            <td id="patronymic"></td>
            <td id="phone"></td>
            <td id="password"></td>
            <td id="carNumber"></td>
            <td id="carDescription"></td>
            <td id="status"></td>
            <td id="coordinates"></td>
            <td id="rate"></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
</div>
</body>
</html>

