<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<script src="/javascripts/jquery.js"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBFYTDI_36YLdfgadX1NrePYwItWuR8Lvc"></script>
	<!--
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBFYTDI_36YLdfgadX1NrePYwItWuR8Lvc"></script>
	-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%-partial('partials/header')%>
	<div id="map"> 
    </div>
	<div id="order-taxi">
<table id='order-table'>
<form style="text-align:left" onsubmit="alert('Заказ оформлен!');">
 <tr style="text-align:center">
	<td><input id="start" name="start" type="textbox" value="Откуда"/></td>
	<td></td>
	<td><input id="end" name="end" type="textbox" value="Куда"/></td>
</tr>
<tr>
<td>Подъезд:<input name="entrance" type="number" value="1" min="1" max="6"></td>
<td></td>
<td></td>
</tr>
<tr>
	<td>Ваш телефон:</td>
	<td></td>
	<td><input id="phone"  type="textbox" name="phone" value="Телефон"/></td>
</tr>
<tr>
	<td>Время заказа:</td>
	<td></td>
	<td><input id="time" type="time" name="arrival_time" value="00:01" min="00:01" max="23:59"></td>
</tr>
<tr>
	<td>Дополнительные услуги:</td>
</tr>
<tr>
	<td><input type="checkbox" name="child"  value="true"/>Детское кресло<br/>
	<input type="checkbox" name="animal" value="true"/>Перевозка животного</td>
</tr>
</form>
<tr>
		<td><button id="orderBtn" >Заказать</button></td>
</tr>
</table>
	</div>
	<!--<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBFYTDI_36YLdfgadX1NrePYwItWuR8Lvc"></script>-->
	<script src="/javascripts/map-controller.js"></script>
	<script src="/javascripts/form-controller.js"></script>
	
  </body>
</html>
