<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<script src="/javascripts/jquery.js"></script>
		<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBFYTDI_36YLdfgadX1NrePYwItWuR8Lvc"></script>
	<!--
		
				<script
		src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		crossorigin="anonymous"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBFYTDI_36YLdfgadX1NrePYwItWuR8Lvc"></script>
	-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%-partial('partials/header')%>
	<div id="map"> 
    </div>
	<div id="order-taxi">
<table id='order-table'>
 <tr>
	<td><input id="start" name="start" type="textbox" value="Откуда"/></td>
	<td><input id="end" name="end" type="textbox" value="Куда"/></td>
</tr>
<tr>
	<td>Время заказа:<input id="arrivalTime" type="time" name="arrival_time" value="17:15" min="00:00" max="23:59"></td>
	<td><input id="phone"  type="tel" name="phone" value="Телефон"/></td>
</tr>
<tr>
	<td>Дополнительные услуги:</td>
</tr>
<tr>
	<td><input type="checkbox" name="child"  value="true"/>Детское кресло<br/>
	<input type="checkbox" name="animal" value="true"/>Перевозка животного</td>
	<td></td>
</tr>
<tr>
	<td>
		<select id="tariff">
			<option selected value='1'>
				Эконом от 45 рублей
			</option>
			<option value='5'>
				Комфорт от 56 рублей
			</option>
		</select>
	</td>
	<td id="price"></td>
	<td id="tripinfo"></td>
</tr>
<tr>
		<td><button id="orderBtn">Заказать</button></td>
		<td><button id="prepareBtn">Рассчитать</button></td>
</tr>
</table>
<!--<form style="text-align:left" onsubmit="alert('Заказ оформлен!');"></form>-->
	</div>
	<!--<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBFYTDI_36YLdfgadX1NrePYwItWuR8Lvc"></script>-->
	<script src="/javascripts/form-controller.js"></script>
	<script src="/javascripts/map-controller.js"></script>
	
	
  </body>
</html>
