<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Профиль</title>
<script src="/javascripts/jquery.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<style>
    #phone{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 2em;
    }
#history{
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.content{
    background-color: white;
    height: 1000px;
    width: 100%;
}
#historyBrn{
    font-size: 1.5em;
}
input{
    margin: 1%;
}
</style>
</head>
<body>
        <header>
                <nav>	
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li><a href="/tariffs">Тарифы</a></li>
                        <li><a href="/about">О нас</a></li>
                        <li><a href="/contacts">Контакты</a></li>
                        <li><a id="exit" href="#">Выйти</a></li>
                    </ul>
                </nav>
            </header>
<div class="content">
<div id="phone"><b><%-phone%></b></div>
<div id="changePass" style="padding: 5%;">
        <input id="firstPassword" placeholder="пароль" name="password" type="password" required value=""/><br/>
        <input id="secondPassword" placeholder="подтвердите пароль" name="password" type="password" required value=""/><br/>
        <button id="schange">Сменить пароль</button>
</div>
<div id="historyBtn">История поездок</div>
<div id="history">
</div>
</div>
<script>
    $(function(){
        $("#exit").click(function(){
            $.post('/profile',{
                exit:true
            }, function(){
                document.location.reload();
            });
        });
        $("#schange").click(function(){
            if($("#firstPassword").val().length<6){
                alert("Слишком короткий пароль, попробуйте другой");
                return;
            }
            if($("#firstPassword").val()!=$("#secondPassword").val()){
                alert("Пароли не совпадают, попробуйте снова");
                return;
            }
            $.post("/profile", {
                changePass:true,
                phone:$("#phone").text(),
                password:$("#firstPassword").val()
            }, function(data){
                if(data.status == "OK"){
                    alert("Пароль успешно изменен!");
                }else{
                    alert("Что-то пошло не так, попробуйте снова");
                }
            });
        });
        $.post('/profile',{
            history:true
        }, function(data){
            if(data.history){
                console.log(data);
                console.log(data.history.length);
            for(var i=0;i<data.history.length;i++){
               var date = new Date(data.history[i].Arrival_Time);
                $("#history").append("<div id='"+i+"'></div>");
                $("#"+i)
                .append("<p><b>Адреса:</b> "+data.history[i].From_Address+" -> "+data.history[i].To_Address+"</p>")
                .append("<p><b>Дата:</b> "+(date.getDate()+"."+(date.getUTCMonth()+1)+"."+date.getFullYear()+" "+date.getUTCHours()+":"+date.getUTCMinutes())+"</p>")
                .append("<p><b>Тариф:</b> "+data.history[i].Name+"</p>")
                .append("<p><b>Цена:</b> "+data.history[i].Price+" руб.</p>")
                .append("<p><b>Водитель:</b> "+data.history[i].Driver+"</p>")
                .append("<p><b>Авто:</b> "+data.history[i].Car+"</p>")
                .append("<p><b>Оценка:</b> "+('<img style="width:5%" src="/images/star.png" alt="Звезда" />'.repeat(data.history[i].Mark==null?"":data.history[i].Mark))+"</p><hr/>");
            }
        }
        
        });
//
$(".content").height(document.documentElement.clientHeight);
$("#history").hide();
var hideHistory=true;
$("#historyBtn").click(function(){
    if(hideHistory==true){
        $(".content").height(($("#history").outerHeight()+$("#changePass").outerHeight()+$("#phone").outerHeight()+$("header").outerHeight())+"px");
        //$("#history").slideToggle(1000);
        $("#history").slideDown(1000);
        hideHistory = false;
    }else{
        $("#history").slideUp(1000, function(){
            $(".content").height(document.documentElement.clientHeight);
            hideHistory = true;
        });
    }
});
});
</script>
</body>

</html>