<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'/>
<title><%- title %></title>
<script src="/javascripts/jquery.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<%-partial('partials/header')%>
<div class='content'>
<h1><%- tariffs %></h1>
<div>
    <p>
        <b>Эконом</b> - минимальная стоимость 45 руб.<br/> 
        Далее 10 рую. за километр.
    </p>
    <p>
        <b>Комфорт</b> - минимальная стоимость 56 руб.<br/> 
        Далее 20 рую. за километр.
        </p>
</div>
</div>
</body>
</html>