body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#f7cd51;
}

a {
  color: #00B7FF;
}
.content{
	text-align: center;
	width:80%;
	height: 900px;
	background-color: white;
	margin-left:auto; 
	margin-right:auto; 
}
#map{
width:100%; 
height:900px; 
/*margin-left:auto; 
margin-right:auto; 
margin-bottom:15px;*/
}
#order-taxi{
	width:45%;;
	height:450px;
	background-color:#f7cd51;
	border: 1px solid lightgray;
	text-align:left;
	position:absolute;
	left:1%;
	top:15%;
	opacity:0.8;
}
#order-taxi td{
	padding:2%;
}

#order-table{
	width:100%;
	height:100%;
}

#start, #end, #phone{
	width:100%;
}
header{
	text-align:right;
}
header>nav>ul>li{
	display:inline;
	padding-left:2%;
}

header a{
	text-decoration:none;
	color:black;
}
